

.main-content{
    background: #121212;
    width: 100vw;
    height: 100vh;
    color: white;
}

body{
}

.input-section{
    padding-top: 1rem;
    padding-left: 1rem;
}

.input-description{
    margin-right: 1rem;
}

.svg-rectangles{
    height: 90%;
    width: 100%;
}
