

.main-content{
    background: #121212;
    width: 100vw;
    height: 100vh;
    color: white;
}

body{
}

.input-section{
    padding-top: 1rem;
    padding-left: 1rem;
}

.info-section{
    padding-left: 1rem;
}

.input-description{
    margin-right: 1rem;
}

.svg-container{
    background: #2f2f2f;;
    max-height: 85vh;
    max-width: 95%;
    margin: 1rem auto;
    display: block;
}
